<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<footer th:fragment="footer" class="main-footer">
    <div class="footer-container">
        <div class="footer-line">
            <h4>고객문의</h4>
            <span>📞대표전화: 1588-7777 | 🕐운영시간: 평일 09:00 ~ 18:00 | 📧이메일: support@book-in.com</span>
        </div>

        <div class="footer-line">
            <h4>회사정보</h4>
            <span>㈜책크인 | 👑대표이사: 홍성훈 | 🏛️주소: 서울시 강남구 강남대로 364, 미왕빌딩 10층 | ©️사업자등록번호: 123-45-67890</span>
        </div>

        <div class="footer-copyright">
            <span>Copyright &copy; 2025 Team 책크인 Corp. All Rights Reserved.</span>
        </div>
    </div>
</footer>

</html>