<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/user_base}">

<!-- 페이지 제목 -->
<head>
    <title>회원가입</title>

    <!-- 이 페이지에만 필요한 CSS -->
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/user/register.css}">
    </th:block>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://ssl.daumcdn.net/dmaps/map_js_init/postcode.v2.js"></script>
</head>

<body>
<!-- 메인 컨텐츠 -->
<div layout:fragment="content">
    <div class="register-container">
        <div class="main-logo">
            <a th:href="@{/main}">
                <img src="/layout/책크인_이미지.png" alt="책크인 로고">
            </a>
        </div>
        <h2>회원가입</h2>
        <form id="registerForm" autocomplete="off">
            <div class="form-group">
                <label for="userName">이름 <span class="required">*</span></label>
                <input type="text" id="userName" name="userName" required>
            </div>
            <div class="form-group">
                <label>생년월일 <span class="required">*</span></label>
                <div class="birth-selects">
                    <select id="birthYear" name="birthYear" required></select>
                    <select id="birthMonth" name="birthMonth" required></select>
                    <select id="birthDay" name="birthDay" required></select>
                    <button type="button" id="checkJoinable" class="btn-gray" style="width: 400px;">가입확인</button>
                </div>
            </div>
            <div class="form-group">
                <label>성별 <span class="required">*</span></label>
                <div class="input-row" style="gap: 20px;">
                    <label style="font-weight:400;">
                        <input type="radio" name="gender" id="genderMale" value="M" required> 남자
                    </label>
                    <label style="font-weight:400;">
                        <input type="radio" name="gender" id="genderFemale" value="F"> 여자
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label for="userId">아이디 <span class="required">*</span></label>
                <div class="input-row">
                    <input type="text" id="userId" name="userId" required>
                    <button type="button" id="checkUserId" class="btn-gray" style="width: 135px;">중복확인</button>
                </div>
                <div class="input-guide">영문(소), 숫자 조합가능, 6~15자</div>
            </div>
            <div class="form-group">
                <label for="userNickname">닉네임 <span class="required">*</span></label>
                <div class="input-row">
                    <input type="text" id="userNickname" name="userNickname" required>
                    <button type="button" id="checkNickname" class="btn-gray" style="width: 135px;">중복확인</button>
                </div>
                <div class="input-guide">한글, 영문(대/소), 숫자 조합가능, 2~10자</div>
            </div>
            <div class="form-group">
                <label for="userPwd">비밀번호 <span class="required">*</span></label>
                <div class="input-row">
                    <input type="password" id="userPwd" name="userPwd" required>
                    <span class="pw-toggle" id="pwToggle1" title="비밀번호 보기">🙈</span>
                </div>
                <div class="input-guide">영문(대/소), 숫자, 특수문자 중 2가지 이상 조합 필수, 6~20자</div>
                <div class="pw-invalid" id="pwInvalidMsg">비밀번호 생성 규칙에 맞지 않습니다.</div>
                <div class="pw-valid" id="pwValidMsg">비밀번호 생성 규칙에 부합합니다.</div>
            </div>
            <div class="form-group">
                <label for="userPwdCheck">비밀번호 확인 <span class="required">*</span></label>
                <div class="input-row">
                    <input type="password" id="userPwdCheck" name="userPwdCheck" required>
                    <span class="pw-toggle" id="pwToggle2" title="비밀번호 보기">🙈</span>
                </div>
                <div class="pw-mismatch" id="pwMismatchMsg">비밀번호가 불일치합니다.</div>
                <div class="pw-match" id="pwMatchMsg">비밀번호가 일치합니다.</div>
            </div>
            <div class="form-group">
                <label for="userEmailId">이메일 <span class="required">*</span></label>
                <div class="input-row email-row">
                    <input type="text" id="userEmailId" name="userEmailId" required style="width:100px;"> @
                    <input type="text" id="userEmailDomain" name="userEmailDomain" required style="width:100px;" readonly>
                    <select id="emailDomainSelect" style="width: 100px;">
                        <option value="">도메인 선택</option>
                        <option value="custom">직접입력</option>
                        <option value="naver.com">naver.com</option>
                        <option value="gmail.com">gmail.com</option>
                        <option value="nate.com">nate.com</option>
                        <option value="hanmail.net">hanmail.net</option>
                        <option value="daum.net">daum.net</option>
                    </select>
                    <button type="button" id="checkEmail" class="btn-gray" style="width: 115px;">중복확인</button>
                </div>
            </div>
            <div class="form-group">
                <label for="userPhone1">휴대폰번호 <span class="required">*</span></label>
                <div class="input-row phone-row">
                    <input type="text" id="userPhone1" name="userPhone1" maxlength="3" required style="width:60px;"> -
                    <input type="text" id="userPhone2" name="userPhone2" maxlength="4" required style="width:70px;"> -
                    <input type="text" id="userPhone3" name="userPhone3" maxlength="4" required style="width:70px;">
                </div>
            </div>
            <div class="form-group">
                <label for="userAddress">주소 <span class="required">*</span></label>
                <div class="address-row">
                    <input type="text" id="userAddress" name="userAddress" readonly required>
                    <button type="button" id="searchAddress" class="btn-black">주소검색</button>
                </div>
                <input type="text" id="userAddressDetail" name="userAddressDetail" placeholder="상세주소" required>
            </div>
            <button type="submit" id="registerBtn" class="btn-black" disabled>회원가입</button>
        </form>
    </div>
</div>

<!-- 이 페이지에만 필요한 JavaScript -->
<th:block layout:fragment="javascript">
    <script th:src="@{/user/register.js}"></script>
</th:block>
</body>
</html>